/* 基本设置 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0066CC;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

.header img {
    height: 80px;
    padding-left: 20px;
}

.header h1 {
    margin: 0;
    padding-left: 20px;
}

/* 导航栏样式 */
.navbar {
    background-color: #004080;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* 模块内容样式 */
.content {
    padding: 20px;
}

.module {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.module h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.module img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.module p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.module ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.module ul li{
    margin-right: 20px;
}
